---
import { allPlaylists, songs, type Playlist } from '@/lib/data'
import Layout from '../../layouts/Layout.astro'
import PlayListHeader from '@/components/PlayListHeader.astro'
import BtnsContainer from '@/components/BtnsContainer.astro'
import { MusicsTable } from '@/components/MusicsTable'
import Footer from '@/components/Footer.astro'

const { id } = Astro.params

const playlist = allPlaylists.find(playlist => playlist.id === id) as Playlist
const playListSongs = songs.filter(song => song.albumId === playlist.albumId)

const {
  id: playlistID,
  title,
  cover,
  artists,
  duration,
  color: { accent: color },
  releaseYear,
  releaseMonth,
  releaseDay,
} = playlist
---

<Layout title={`Spotify - ${title}`}>
  <div
    id='playlist-container'
    class=`bg-gradient-to-b ${color} relative flex flex-col overflow-x-hidden`
  >
    <PlayListHeader
      cover={cover}
      title={title}
      playlistID={playlistID}
      artist={artists[0]}
      releaseYear={releaseYear}
      playListSongs={playListSongs}
      duration={duration}
    />

    <div class='[background:var(--gradient-playlist)] mt-4'>
      <BtnsContainer id={playlistID} title={title} />

      <section class='px-6 pt-4'>
        <MusicsTable songs={playListSongs} client:load />
      </section>
    </div>
  </div>

  <Footer
    releaseDay={releaseDay}
    releaseMonth={releaseMonth}
    releaseYear={releaseYear}
  />
</Layout>
