---
import type { Playlist } from '@/lib/data'

interface Props {
  playlist: Playlist
}

const { playlist } = Astro.props
const { id, cover, title, artists } = playlist

const artist = artists[0]

const currentId = Astro.url.pathname.split('/playlist/').pop()
---

<a
  href={`/playlist/${id}`}
  class:list={[
    `playlist-item flex relative p-2 overflow-hidden items-center gap-3 rounded-md hover:bg-[#393939] active:bg-black`,
    {
      'bg-[#232323]': currentId == id,
    },
  ]}
>
  <picture class='h-12 w-12 flex-none'>
    <img
      src={cover}
      alt={`Cover of ${title} by ${artist}`}
      class='object-cover w-full h-full rounded-sm'
    />
  </picture>

  <div class='flex flex-auto flex-col truncate'>
    <h4 class='text-white text-base'>
      {title}
    </h4>

    <span class='text-sm text-tertiary'>
      Album • {artist}
    </span>
  </div>
</a>
