---
interface Props {
  activeBgColor?: string
  bgColor?: string
  disableHover?: string
  padding?: string
  scale?: boolean
  title: string
}

const {
  activeBgColor = 'active:bg-black',
  bgColor = '',
  disableHover = 'hover:bg-[#252525]',
  padding = 'p-2',
  scale = false,
  title,
} = Astro.props
---

<div title={title} class='flex items-center'>
  <span
    class:list={[
      `hover:cursor-pointer text-table-text transition-colors hover:text-white rounded-full ${disableHover} ${bgColor} ${padding} ${activeBgColor}`,
      {
        'hover:scale-110': scale,
      },
    ]}
  >
    <slot />
  </span>
</div>
