---
interface Props {
  activeBgColor?: string
  bgColor?: string
  disableHover?: string
  padding?: string
  scale?: boolean
  title: string
}

const {
  activeBgColor = 'active:bg-black',
  bgColor = '',
  disableHover = 'hover:bg-[#252525]',
  padding = 'p-2',
  scale = false,
  title,
} = Astro.props
---

<div title={title} class='flex items-center'>
  <span
    class=`${disableHover} ${scale ? 'hover:scale-110' : ''} hover:cursor-pointer ${bgColor} text-table-text ${padding} transition-colors hover:text-white rounded-full ${activeBgColor}`
  >
    <slot />
  </span>
</div>
